name: yallabuy
description: YallaBuy - Syrian multi-vendor marketplace UI-only (Customer + Vendor)
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ">=3.4.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  cupertino_icons: ^1.0.8
  go_router: ^14.2.7
  flutter_riverpod: ^2.5.1
  google_fonts: ^6.2.1
  
  # Mock Data & UI Utils
  cached_network_image: ^3.3.1
  shimmer: ^3.0.0
  intl: ^0.20.2
  uuid: ^4.5.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
