--
-- PostgreSQL database dump
--

\restrict YU6hy00h6glDqfQPXyOfd5SIpO9IXxGdRuyNK42cWNtDFqnuI0SSbsjbCkUjA8O

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cart; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cart (
    id bigint NOT NULL,
    session_key character varying(40),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    user_id bigint,
    CONSTRAINT cart_must_have_user_or_session CHECK (((user_id IS NOT NULL) OR (session_key IS NOT NULL)))
);


ALTER TABLE public.cart OWNER TO postgres;

--
-- Name: cart_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.cart ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cart_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cart_item; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cart_item (
    id bigint NOT NULL,
    quantity integer NOT NULL,
    price numeric(10,2) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    cart_id bigint NOT NULL,
    variant_id bigint NOT NULL,
    CONSTRAINT cart_item_quantity_check CHECK ((quantity >= 0))
);


ALTER TABLE public.cart_item OWNER TO postgres;

--
-- Name: cart_item_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.cart_item ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cart_item_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: notifications_notification; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications_notification (
    id bigint NOT NULL,
    type character varying(20) NOT NULL,
    message character varying(500) NOT NULL,
    message_ar character varying(500) NOT NULL,
    action character varying(100) NOT NULL,
    is_read boolean NOT NULL,
    metadata jsonb NOT NULL,
    created_at timestamp with time zone NOT NULL,
    read_at timestamp with time zone,
    recipient_id bigint,
    target_content_type_id integer,
    target_object_id integer,
    CONSTRAINT notifications_notification_target_object_id_check CHECK ((target_object_id >= 0))
);


ALTER TABLE public.notifications_notification OWNER TO postgres;

--
-- Name: notifications_notification_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.notifications_notification ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.notifications_notification_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: notifications_notificationpreference; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications_notificationpreference (
    id bigint NOT NULL,
    enable_order_notifications boolean NOT NULL,
    enable_user_notifications boolean NOT NULL,
    enable_vendor_notifications boolean NOT NULL,
    enable_system_notifications boolean NOT NULL,
    enable_product_notifications boolean NOT NULL,
    enable_category_notifications boolean NOT NULL,
    email_notifications_enabled boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.notifications_notificationpreference OWNER TO postgres;

--
-- Name: notifications_notificationpreference_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.notifications_notificationpreference ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.notifications_notificationpreference_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: orders_order; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders_order (
    id bigint NOT NULL,
    order_number character varying(50) NOT NULL,
    customer_name character varying(200) NOT NULL,
    customer_phone character varying(20) NOT NULL,
    customer_address text NOT NULL,
    order_type character varying(20) NOT NULL,
    status character varying(20) NOT NULL,
    subtotal numeric(10,2) NOT NULL,
    delivery_fee numeric(10,2) NOT NULL,
    total numeric(10,2) NOT NULL,
    platform_commission numeric(10,2) NOT NULL,
    notes text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    is_guest_order boolean NOT NULL,
    user_id bigint,
    vendor_id bigint NOT NULL
);


ALTER TABLE public.orders_order OWNER TO postgres;

--
-- Name: orders_order_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.orders_order ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.orders_order_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: orders_orderitem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders_orderitem (
    id bigint NOT NULL,
    quantity integer NOT NULL,
    price numeric(10,2) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    order_id bigint NOT NULL,
    product_variant_id bigint NOT NULL,
    vendor_id bigint NOT NULL,
    CONSTRAINT orders_orderitem_quantity_check CHECK ((quantity >= 0))
);


ALTER TABLE public.orders_orderitem OWNER TO postgres;

--
-- Name: orders_orderitem_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.orders_orderitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.orders_orderitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: products_category; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products_category (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    name_ar character varying(100) NOT NULL,
    slug character varying(100) NOT NULL,
    description text NOT NULL,
    description_ar text NOT NULL,
    image character varying(100),
    icon character varying(100) NOT NULL,
    display_order integer NOT NULL,
    is_active boolean NOT NULL,
    is_featured boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    parent_id bigint,
    CONSTRAINT products_category_display_order_check CHECK ((display_order >= 0))
);


ALTER TABLE public.products_category OWNER TO postgres;

--
-- Name: products_category_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.products_category ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.products_category_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: products_product; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products_product (
    id bigint NOT NULL,
    name character varying(200) NOT NULL,
    slug character varying(200) NOT NULL,
    description text NOT NULL,
    base_price numeric(10,2) NOT NULL,
    product_type character varying(20) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    vendor_id bigint NOT NULL,
    category_id bigint,
    search_vector tsvector
);


ALTER TABLE public.products_product OWNER TO postgres;

--
-- Name: products_product_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.products_product ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.products_product_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: products_productimage; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products_productimage (
    id bigint NOT NULL,
    image character varying(100) NOT NULL,
    display_order integer NOT NULL,
    is_primary boolean NOT NULL,
    alt_text character varying(200) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    product_id bigint NOT NULL,
    CONSTRAINT products_productimage_display_order_check CHECK ((display_order >= 0))
);


ALTER TABLE public.products_productimage OWNER TO postgres;

--
-- Name: products_productimage_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.products_productimage ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.products_productimage_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: products_productvariant; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products_productvariant (
    id bigint NOT NULL,
    color character varying(50) NOT NULL,
    color_hex character varying(7) NOT NULL,
    size character varying(20) NOT NULL,
    model character varying(100) NOT NULL,
    sku character varying(100),
    stock_quantity integer NOT NULL,
    price_override numeric(10,2),
    image character varying(100),
    is_available boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    product_id bigint NOT NULL,
    CONSTRAINT products_productvariant_stock_quantity_check CHECK ((stock_quantity >= 0))
);


ALTER TABLE public.products_productvariant OWNER TO postgres;

--
-- Name: products_productvariant_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.products_productvariant ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.products_productvariant_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: promotions_banner; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.promotions_banner (
    id bigint NOT NULL,
    title character varying(200) NOT NULL,
    title_ar character varying(200) NOT NULL,
    subtitle character varying(300) NOT NULL,
    subtitle_ar character varying(300) NOT NULL,
    image character varying(100) NOT NULL,
    link_type character varying(20) NOT NULL,
    link character varying(500) NOT NULL,
    location character varying(20) NOT NULL,
    "order" integer NOT NULL,
    start_date timestamp with time zone NOT NULL,
    end_date timestamp with time zone,
    is_active boolean NOT NULL,
    views integer NOT NULL,
    clicks integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    CONSTRAINT promotions_banner_clicks_check CHECK ((clicks >= 0)),
    CONSTRAINT promotions_banner_order_check CHECK (("order" >= 0)),
    CONSTRAINT promotions_banner_views_check CHECK ((views >= 0))
);


ALTER TABLE public.promotions_banner OWNER TO postgres;

--
-- Name: promotions_banner_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.promotions_banner ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.promotions_banner_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: promotions_coupon; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.promotions_coupon (
    id bigint NOT NULL,
    code character varying(50) NOT NULL,
    description text NOT NULL,
    description_ar text NOT NULL,
    discount_type character varying(20) NOT NULL,
    discount_value numeric(10,2) NOT NULL,
    min_order numeric(10,2) NOT NULL,
    max_discount numeric(10,2),
    usage_limit integer,
    used_count integer NOT NULL,
    applicable_to character varying(20) NOT NULL,
    start_date timestamp with time zone NOT NULL,
    end_date timestamp with time zone,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    CONSTRAINT promotions_coupon_usage_limit_check CHECK ((usage_limit >= 0)),
    CONSTRAINT promotions_coupon_used_count_check CHECK ((used_count >= 0))
);


ALTER TABLE public.promotions_coupon OWNER TO postgres;

--
-- Name: promotions_coupon_applicable_categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.promotions_coupon_applicable_categories (
    id bigint NOT NULL,
    coupon_id bigint NOT NULL,
    category_id bigint NOT NULL
);


ALTER TABLE public.promotions_coupon_applicable_categories OWNER TO postgres;

--
-- Name: promotions_coupon_applicable_categories_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.promotions_coupon_applicable_categories ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.promotions_coupon_applicable_categories_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: promotions_coupon_applicable_products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.promotions_coupon_applicable_products (
    id bigint NOT NULL,
    coupon_id bigint NOT NULL,
    product_id bigint NOT NULL
);


ALTER TABLE public.promotions_coupon_applicable_products OWNER TO postgres;

--
-- Name: promotions_coupon_applicable_products_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.promotions_coupon_applicable_products ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.promotions_coupon_applicable_products_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: promotions_coupon_applicable_users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.promotions_coupon_applicable_users (
    id bigint NOT NULL,
    coupon_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.promotions_coupon_applicable_users OWNER TO postgres;

--
-- Name: promotions_coupon_applicable_users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.promotions_coupon_applicable_users ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.promotions_coupon_applicable_users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: promotions_coupon_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.promotions_coupon ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.promotions_coupon_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: promotions_story; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.promotions_story (
    id bigint NOT NULL,
    title character varying(200) NOT NULL,
    title_ar character varying(200) NOT NULL,
    image character varying(100) NOT NULL,
    link_type character varying(20) NOT NULL,
    link character varying(500) NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    is_active boolean NOT NULL,
    "order" integer NOT NULL,
    views integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    CONSTRAINT promotions_story_order_check CHECK (("order" >= 0)),
    CONSTRAINT promotions_story_views_check CHECK ((views >= 0))
);


ALTER TABLE public.promotions_story OWNER TO postgres;

--
-- Name: promotions_story_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.promotions_story ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.promotions_story_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: settings_app_language; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.settings_app_language (
    id bigint NOT NULL,
    code character varying(10) NOT NULL,
    name character varying(50) NOT NULL,
    native_name character varying(50) NOT NULL,
    flag_emoji character varying(10) NOT NULL,
    flag_url character varying(500) NOT NULL,
    is_rtl boolean NOT NULL,
    is_default boolean NOT NULL,
    is_active boolean NOT NULL,
    "order" integer NOT NULL,
    CONSTRAINT settings_app_language_order_check CHECK (("order" >= 0))
);


ALTER TABLE public.settings_app_language OWNER TO postgres;

--
-- Name: settings_app_language_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.settings_app_language ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.settings_app_language_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: settings_app_navigationitem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.settings_app_navigationitem (
    id bigint NOT NULL,
    location character varying(20) NOT NULL,
    label character varying(100) NOT NULL,
    label_ar character varying(100) NOT NULL,
    url character varying(500) NOT NULL,
    icon character varying(50) NOT NULL,
    "order" integer NOT NULL,
    is_active boolean NOT NULL,
    visibility character varying(20) NOT NULL,
    open_in_new_tab boolean NOT NULL,
    highlight boolean NOT NULL,
    highlight_color character varying(20) NOT NULL,
    parent_id bigint,
    CONSTRAINT settings_app_navigationitem_order_check CHECK (("order" >= 0))
);


ALTER TABLE public.settings_app_navigationitem OWNER TO postgres;

--
-- Name: settings_app_navigationitem_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.settings_app_navigationitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.settings_app_navigationitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: settings_app_paymentmethod; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.settings_app_paymentmethod (
    id bigint NOT NULL,
    code character varying(50) NOT NULL,
    name character varying(100) NOT NULL,
    name_ar character varying(100) NOT NULL,
    description text NOT NULL,
    description_ar text NOT NULL,
    instructions text NOT NULL,
    instructions_ar text NOT NULL,
    icon_url character varying(500) NOT NULL,
    fee_type character varying(20) NOT NULL,
    fee_amount numeric(10,2) NOT NULL,
    min_order_amount numeric(10,2),
    max_order_amount numeric(10,2),
    "order" integer NOT NULL,
    is_active boolean NOT NULL,
    is_default boolean NOT NULL,
    CONSTRAINT settings_app_paymentmethod_order_check CHECK (("order" >= 0))
);


ALTER TABLE public.settings_app_paymentmethod OWNER TO postgres;

--
-- Name: settings_app_paymentmethod_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.settings_app_paymentmethod ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.settings_app_paymentmethod_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: settings_app_shippingmethod; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.settings_app_shippingmethod (
    id bigint NOT NULL,
    code character varying(50) NOT NULL,
    name character varying(100) NOT NULL,
    name_ar character varying(100) NOT NULL,
    description text NOT NULL,
    description_ar text NOT NULL,
    estimated_days_min integer NOT NULL,
    estimated_days_max integer NOT NULL,
    rate_type character varying(20) NOT NULL,
    rate_amount numeric(10,2) NOT NULL,
    free_shipping_threshold numeric(10,2),
    "order" integer NOT NULL,
    is_active boolean NOT NULL,
    is_default boolean NOT NULL,
    CONSTRAINT settings_app_shippingmethod_estimated_days_max_check CHECK ((estimated_days_max >= 0)),
    CONSTRAINT settings_app_shippingmethod_estimated_days_min_check CHECK ((estimated_days_min >= 0)),
    CONSTRAINT settings_app_shippingmethod_order_check CHECK (("order" >= 0))
);


ALTER TABLE public.settings_app_shippingmethod OWNER TO postgres;

--
-- Name: settings_app_shippingmethod_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.settings_app_shippingmethod ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.settings_app_shippingmethod_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: settings_app_sitesettings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.settings_app_sitesettings (
    id bigint NOT NULL,
    site_name character varying(100) NOT NULL,
    site_name_ar character varying(100) NOT NULL,
    tagline character varying(200) NOT NULL,
    tagline_ar character varying(200) NOT NULL,
    logo_url character varying(500) NOT NULL,
    logo_dark_url character varying(500) NOT NULL,
    favicon_url character varying(500) NOT NULL,
    description text NOT NULL,
    description_ar text NOT NULL,
    meta_title character varying(70) NOT NULL,
    meta_title_ar character varying(70) NOT NULL,
    meta_description character varying(160) NOT NULL,
    meta_description_ar character varying(160) NOT NULL,
    meta_keywords text NOT NULL,
    meta_keywords_ar text NOT NULL,
    contact_email character varying(254) NOT NULL,
    contact_phone character varying(20) NOT NULL,
    contact_whatsapp character varying(20) NOT NULL,
    address text NOT NULL,
    address_ar text NOT NULL,
    google_maps_url character varying(500) NOT NULL,
    working_hours character varying(200) NOT NULL,
    working_hours_ar character varying(200) NOT NULL,
    currency_code character varying(10) NOT NULL,
    currency_symbol character varying(10) NOT NULL,
    currency_position character varying(10) NOT NULL,
    is_maintenance_mode boolean NOT NULL,
    maintenance_message text NOT NULL,
    maintenance_message_ar text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.settings_app_sitesettings OWNER TO postgres;

--
-- Name: settings_app_sitesettings_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.settings_app_sitesettings ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.settings_app_sitesettings_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: settings_app_sociallink; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.settings_app_sociallink (
    id bigint NOT NULL,
    platform character varying(20) NOT NULL,
    name character varying(50) NOT NULL,
    url character varying(500) NOT NULL,
    icon character varying(50) NOT NULL,
    "order" integer NOT NULL,
    is_active boolean NOT NULL,
    open_in_new_tab boolean NOT NULL,
    CONSTRAINT settings_app_sociallink_order_check CHECK (("order" >= 0))
);


ALTER TABLE public.settings_app_sociallink OWNER TO postgres;

--
-- Name: settings_app_sociallink_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.settings_app_sociallink ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.settings_app_sociallink_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: settings_app_trustsignal; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.settings_app_trustsignal (
    id bigint NOT NULL,
    icon character varying(50) NOT NULL,
    title character varying(100) NOT NULL,
    title_ar character varying(100) NOT NULL,
    description character varying(200) NOT NULL,
    description_ar character varying(200) NOT NULL,
    "order" integer NOT NULL,
    is_active boolean NOT NULL,
    CONSTRAINT settings_app_trustsignal_order_check CHECK (("order" >= 0))
);


ALTER TABLE public.settings_app_trustsignal OWNER TO postgres;

--
-- Name: settings_app_trustsignal_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.settings_app_trustsignal ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.settings_app_trustsignal_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_emailverification; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_emailverification (
    id bigint NOT NULL,
    token character varying(100) NOT NULL,
    is_verified boolean NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.users_emailverification OWNER TO postgres;

--
-- Name: users_emailverification_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_emailverification ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_emailverification_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    email character varying(254) NOT NULL,
    phone character varying(20) NOT NULL,
    full_name character varying(200) NOT NULL,
    role character varying(20) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.users_user OWNER TO postgres;

--
-- Name: users_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.users_user_groups OWNER TO postgres;

--
-- Name: users_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.users_user_user_permissions OWNER TO postgres;

--
-- Name: users_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_userprofile; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_userprofile (
    id bigint NOT NULL,
    address text NOT NULL,
    avatar character varying(100),
    preferred_language character varying(2) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.users_userprofile OWNER TO postgres;

--
-- Name: users_userprofile_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_userprofile ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_userprofile_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_vendoruser; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_vendoruser (
    id bigint NOT NULL,
    is_owner boolean NOT NULL,
    permissions jsonb NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL,
    vendor_id bigint NOT NULL
);


ALTER TABLE public.users_vendoruser OWNER TO postgres;

--
-- Name: users_vendoruser_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_vendoruser ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_vendoruser_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: vendors_vendor; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.vendors_vendor (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    slug character varying(100) NOT NULL,
    logo character varying(100),
    description text NOT NULL,
    primary_color character varying(7) NOT NULL,
    commission_rate numeric(5,2) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.vendors_vendor OWNER TO postgres;

--
-- Name: vendors_vendor_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.vendors_vendor ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.vendors_vendor_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: vendors_vendorapplication; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.vendors_vendorapplication (
    id bigint NOT NULL,
    applicant_name character varying(100) NOT NULL,
    applicant_email character varying(254) NOT NULL,
    applicant_phone character varying(20) NOT NULL,
    store_name character varying(100) NOT NULL,
    store_description text NOT NULL,
    store_logo character varying(100),
    business_type character varying(20) NOT NULL,
    business_address text NOT NULL,
    business_license character varying(100),
    status character varying(20) NOT NULL,
    admin_notes text NOT NULL,
    rejection_reason text NOT NULL,
    reviewed_at timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    created_vendor_id bigint,
    reviewed_by_id bigint,
    user_id bigint,
    CONSTRAINT ck_vendorapp_review_fields_consistent CHECK ((((reviewed_at IS NULL) AND (reviewed_by_id IS NULL) AND ((status)::text = 'pending'::text)) OR ((reviewed_at IS NOT NULL) AND (reviewed_by_id IS NOT NULL) AND ((status)::text = ANY ((ARRAY['approved'::character varying, 'rejected'::character varying])::text[])))))
);


ALTER TABLE public.vendors_vendorapplication OWNER TO postgres;

--
-- Name: vendors_vendorapplication_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.vendors_vendorapplication ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.vendors_vendorapplication_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: vendors_vendorsettings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.vendors_vendorsettings (
    id bigint NOT NULL,
    notify_new_orders boolean NOT NULL,
    notify_order_status_changes boolean NOT NULL,
    notify_order_cancellations boolean NOT NULL,
    notify_low_stock boolean NOT NULL,
    notify_out_of_stock boolean NOT NULL,
    notify_new_customers boolean NOT NULL,
    email_notifications_enabled boolean NOT NULL,
    auto_confirm_orders boolean NOT NULL,
    default_order_status character varying(20) NOT NULL,
    stock_alert_threshold integer NOT NULL,
    auto_archive_orders_after_days integer,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    vendor_id bigint NOT NULL,
    CONSTRAINT vendors_vendorsettings_auto_archive_orders_after_days_check CHECK ((auto_archive_orders_after_days >= 0)),
    CONSTRAINT vendors_vendorsettings_stock_alert_threshold_check CHECK ((stock_alert_threshold >= 0))
);


ALTER TABLE public.vendors_vendorsettings OWNER TO postgres;

--
-- Name: vendors_vendorsettings_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.vendors_vendorsettings ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.vendors_vendorsettings_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: cart_item cart_item_cart_id_variant_id_359bf22c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_item
    ADD CONSTRAINT cart_item_cart_id_variant_id_359bf22c_uniq UNIQUE (cart_id, variant_id);


--
-- Name: cart_item cart_item_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_item
    ADD CONSTRAINT cart_item_pkey PRIMARY KEY (id);


--
-- Name: cart cart_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart
    ADD CONSTRAINT cart_pkey PRIMARY KEY (id);


--
-- Name: cart cart_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart
    ADD CONSTRAINT cart_user_id_key UNIQUE (user_id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: notifications_notification notifications_notification_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications_notification
    ADD CONSTRAINT notifications_notification_pkey PRIMARY KEY (id);


--
-- Name: notifications_notificationpreference notifications_notificationpreference_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications_notificationpreference
    ADD CONSTRAINT notifications_notificationpreference_pkey PRIMARY KEY (id);


--
-- Name: notifications_notificationpreference notifications_notificationpreference_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications_notificationpreference
    ADD CONSTRAINT notifications_notificationpreference_user_id_key UNIQUE (user_id);


--
-- Name: orders_order orders_order_order_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_order
    ADD CONSTRAINT orders_order_order_number_key UNIQUE (order_number);


--
-- Name: orders_order orders_order_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_order
    ADD CONSTRAINT orders_order_pkey PRIMARY KEY (id);


--
-- Name: orders_orderitem orders_orderitem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_orderitem
    ADD CONSTRAINT orders_orderitem_pkey PRIMARY KEY (id);


--
-- Name: products_category products_category_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_category
    ADD CONSTRAINT products_category_pkey PRIMARY KEY (id);


--
-- Name: products_category products_category_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_category
    ADD CONSTRAINT products_category_slug_key UNIQUE (slug);


--
-- Name: products_product products_product_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_product
    ADD CONSTRAINT products_product_pkey PRIMARY KEY (id);


--
-- Name: products_productimage products_productimage_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_productimage
    ADD CONSTRAINT products_productimage_pkey PRIMARY KEY (id);


--
-- Name: products_productvariant products_productvariant_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_productvariant
    ADD CONSTRAINT products_productvariant_pkey PRIMARY KEY (id);


--
-- Name: products_productvariant products_productvariant_sku_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_productvariant
    ADD CONSTRAINT products_productvariant_sku_key UNIQUE (sku);


--
-- Name: promotions_banner promotions_banner_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.promotions_banner
    ADD CONSTRAINT promotions_banner_pkey PRIMARY KEY (id);


--
-- Name: promotions_coupon_applicable_categories promotions_coupon_applic_coupon_id_category_id_1d7dad07_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.promotions_coupon_applicable_categories
    ADD CONSTRAINT promotions_coupon_applic_coupon_id_category_id_1d7dad07_uniq UNIQUE (coupon_id, category_id);


--
-- Name: promotions_coupon_applicable_products promotions_coupon_applic_coupon_id_product_id_c0f6a3ab_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.promotions_coupon_applicable_products
    ADD CONSTRAINT promotions_coupon_applic_coupon_id_product_id_c0f6a3ab_uniq UNIQUE (coupon_id, product_id);


--
-- Name: promotions_coupon_applicable_users promotions_coupon_applic_coupon_id_user_id_7f390000_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.promotions_coupon_applicable_users
    ADD CONSTRAINT promotions_coupon_applic_coupon_id_user_id_7f390000_uniq UNIQUE (coupon_id, user_id);


--
-- Name: promotions_coupon_applicable_categories promotions_coupon_applicable_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.promotions_coupon_applicable_categories
    ADD CONSTRAINT promotions_coupon_applicable_categories_pkey PRIMARY KEY (id);


--
-- Name: promotions_coupon_applicable_products promotions_coupon_applicable_products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.promotions_coupon_applicable_products
    ADD CONSTRAINT promotions_coupon_applicable_products_pkey PRIMARY KEY (id);


--
-- Name: promotions_coupon_applicable_users promotions_coupon_applicable_users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.promotions_coupon_applicable_users
    ADD CONSTRAINT promotions_coupon_applicable_users_pkey PRIMARY KEY (id);


--
-- Name: promotions_coupon promotions_coupon_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.promotions_coupon
    ADD CONSTRAINT promotions_coupon_code_key UNIQUE (code);


--
-- Name: promotions_coupon promotions_coupon_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.promotions_coupon
    ADD CONSTRAINT promotions_coupon_pkey PRIMARY KEY (id);


--
-- Name: promotions_story promotions_story_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.promotions_story
    ADD CONSTRAINT promotions_story_pkey PRIMARY KEY (id);


--
-- Name: settings_app_language settings_app_language_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.settings_app_language
    ADD CONSTRAINT settings_app_language_code_key UNIQUE (code);


--
-- Name: settings_app_language settings_app_language_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.settings_app_language
    ADD CONSTRAINT settings_app_language_pkey PRIMARY KEY (id);


--
-- Name: settings_app_navigationitem settings_app_navigationitem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.settings_app_navigationitem
    ADD CONSTRAINT settings_app_navigationitem_pkey PRIMARY KEY (id);


--
-- Name: settings_app_paymentmethod settings_app_paymentmethod_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.settings_app_paymentmethod
    ADD CONSTRAINT settings_app_paymentmethod_code_key UNIQUE (code);


--
-- Name: settings_app_paymentmethod settings_app_paymentmethod_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.settings_app_paymentmethod
    ADD CONSTRAINT settings_app_paymentmethod_pkey PRIMARY KEY (id);


--
-- Name: settings_app_shippingmethod settings_app_shippingmethod_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.settings_app_shippingmethod
    ADD CONSTRAINT settings_app_shippingmethod_code_key UNIQUE (code);


--
-- Name: settings_app_shippingmethod settings_app_shippingmethod_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.settings_app_shippingmethod
    ADD CONSTRAINT settings_app_shippingmethod_pkey PRIMARY KEY (id);


--
-- Name: settings_app_sitesettings settings_app_sitesettings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.settings_app_sitesettings
    ADD CONSTRAINT settings_app_sitesettings_pkey PRIMARY KEY (id);


--
-- Name: settings_app_sociallink settings_app_sociallink_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.settings_app_sociallink
    ADD CONSTRAINT settings_app_sociallink_pkey PRIMARY KEY (id);


--
-- Name: settings_app_trustsignal settings_app_trustsignal_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.settings_app_trustsignal
    ADD CONSTRAINT settings_app_trustsignal_pkey PRIMARY KEY (id);


--
-- Name: products_product uq_product_vendor_slug; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_product
    ADD CONSTRAINT uq_product_vendor_slug UNIQUE (vendor_id, slug);


--
-- Name: users_vendoruser uq_vendoruser_user_vendor; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_vendoruser
    ADD CONSTRAINT uq_vendoruser_user_vendor UNIQUE (user_id, vendor_id);


--
-- Name: users_emailverification users_emailverification_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_emailverification
    ADD CONSTRAINT users_emailverification_pkey PRIMARY KEY (id);


--
-- Name: users_emailverification users_emailverification_token_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_emailverification
    ADD CONSTRAINT users_emailverification_token_key UNIQUE (token);


--
-- Name: users_emailverification users_emailverification_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_emailverification
    ADD CONSTRAINT users_emailverification_user_id_key UNIQUE (user_id);


--
-- Name: users_user users_user_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user
    ADD CONSTRAINT users_user_email_key UNIQUE (email);


--
-- Name: users_user_groups users_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_pkey PRIMARY KEY (id);


--
-- Name: users_user_groups users_user_groups_user_id_group_id_b88eab82_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_user_id_group_id_b88eab82_uniq UNIQUE (user_id, group_id);


--
-- Name: users_user users_user_phone_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user
    ADD CONSTRAINT users_user_phone_key UNIQUE (phone);


--
-- Name: users_user users_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user
    ADD CONSTRAINT users_user_pkey PRIMARY KEY (id);


--
-- Name: users_user_user_permissions users_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: users_user_user_permissions users_user_user_permissions_user_id_permission_id_43338c45_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_permissions_user_id_permission_id_43338c45_uniq UNIQUE (user_id, permission_id);


--
-- Name: users_userprofile users_userprofile_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_userprofile
    ADD CONSTRAINT users_userprofile_pkey PRIMARY KEY (id);


--
-- Name: users_userprofile users_userprofile_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_userprofile
    ADD CONSTRAINT users_userprofile_user_id_key UNIQUE (user_id);


--
-- Name: users_vendoruser users_vendoruser_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_vendoruser
    ADD CONSTRAINT users_vendoruser_pkey PRIMARY KEY (id);


--
-- Name: vendors_vendor vendors_vendor_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vendors_vendor
    ADD CONSTRAINT vendors_vendor_name_key UNIQUE (name);


--
-- Name: vendors_vendor vendors_vendor_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vendors_vendor
    ADD CONSTRAINT vendors_vendor_pkey PRIMARY KEY (id);


--
-- Name: vendors_vendor vendors_vendor_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vendors_vendor
    ADD CONSTRAINT vendors_vendor_slug_key UNIQUE (slug);


--
-- Name: vendors_vendorapplication vendors_vendorapplication_created_vendor_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vendors_vendorapplication
    ADD CONSTRAINT vendors_vendorapplication_created_vendor_id_key UNIQUE (created_vendor_id);


--
-- Name: vendors_vendorapplication vendors_vendorapplication_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vendors_vendorapplication
    ADD CONSTRAINT vendors_vendorapplication_pkey PRIMARY KEY (id);


--
-- Name: vendors_vendorsettings vendors_vendorsettings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vendors_vendorsettings
    ADD CONSTRAINT vendors_vendorsettings_pkey PRIMARY KEY (id);


--
-- Name: vendors_vendorsettings vendors_vendorsettings_vendor_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vendors_vendorsettings
    ADD CONSTRAINT vendors_vendorsettings_vendor_id_key UNIQUE (vendor_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: cart_item_cart_id_157ecf5f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cart_item_cart_id_157ecf5f ON public.cart_item USING btree (cart_id);


--
-- Name: cart_item_cart_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cart_item_cart_idx ON public.cart_item USING btree (cart_id);


--
-- Name: cart_item_created_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cart_item_created_at_idx ON public.cart_item USING btree (created_at);


--
-- Name: cart_item_variant_id_f92e25c7; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cart_item_variant_id_f92e25c7 ON public.cart_item USING btree (variant_id);


--
-- Name: cart_item_variant_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cart_item_variant_idx ON public.cart_item USING btree (variant_id);


--
-- Name: cart_session_key_9862d811; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cart_session_key_9862d811 ON public.cart USING btree (session_key);


--
-- Name: cart_session_key_9862d811_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cart_session_key_9862d811_like ON public.cart USING btree (session_key varchar_pattern_ops);


--
-- Name: cart_session_key_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cart_session_key_idx ON public.cart USING btree (session_key);


--
-- Name: cart_updated_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cart_updated_at_idx ON public.cart USING btree (updated_at);


--
-- Name: cart_user_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX cart_user_idx ON public.cart USING btree (user_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: notificatio_recipie_86ea8b_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX notificatio_recipie_86ea8b_idx ON public.notifications_notification USING btree (recipient_id, is_read, created_at);


--
-- Name: notificatio_target__dfbaf5_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX notificatio_target__dfbaf5_idx ON public.notifications_notification USING btree (target_content_type_id, target_object_id);


--
-- Name: notificatio_type_5ae648_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX notificatio_type_5ae648_idx ON public.notifications_notification USING btree (type, is_read);


--
-- Name: notifications_notification_recipient_id_d055f3f0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX notifications_notification_recipient_id_d055f3f0 ON public.notifications_notification USING btree (recipient_id);


--
-- Name: notifications_notification_target_content_type_id_ccb24d88; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX notifications_notification_target_content_type_id_ccb24d88 ON public.notifications_notification USING btree (target_content_type_id);


--
-- Name: orders_orde_is_gues_5dc5f1_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_orde_is_gues_5dc5f1_idx ON public.orders_order USING btree (is_guest_order, created_at);


--
-- Name: orders_orde_order_i_02f6fe_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_orde_order_i_02f6fe_idx ON public.orders_orderitem USING btree (order_id, product_variant_id);


--
-- Name: orders_orde_order_i_5d347b_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_orde_order_i_5d347b_idx ON public.orders_orderitem USING btree (order_id);


--
-- Name: orders_orde_order_n_f3ada5_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_orde_order_n_f3ada5_idx ON public.orders_order USING btree (order_number);


--
-- Name: orders_orde_order_t_1378c7_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_orde_order_t_1378c7_idx ON public.orders_order USING btree (order_type, status);


--
-- Name: orders_orde_product_c4062e_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_orde_product_c4062e_idx ON public.orders_orderitem USING btree (product_variant_id);


--
-- Name: orders_orde_status_25e057_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_orde_status_25e057_idx ON public.orders_order USING btree (status, created_at);


--
-- Name: orders_orde_user_id_02a211_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_orde_user_id_02a211_idx ON public.orders_order USING btree (user_id, status);


--
-- Name: orders_order_order_number_4e985f70_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_order_order_number_4e985f70_like ON public.orders_order USING btree (order_number varchar_pattern_ops);


--
-- Name: orders_order_status_445594e5; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_order_status_445594e5 ON public.orders_order USING btree (status);


--
-- Name: orders_order_status_445594e5_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_order_status_445594e5_like ON public.orders_order USING btree (status varchar_pattern_ops);


--
-- Name: orders_order_user_id_e9b59eb1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_order_user_id_e9b59eb1 ON public.orders_order USING btree (user_id);


--
-- Name: orders_order_vendor_id_a95998e8; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_order_vendor_id_a95998e8 ON public.orders_order USING btree (vendor_id);


--
-- Name: orders_orderitem_order_id_fe61a34d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_orderitem_order_id_fe61a34d ON public.orders_orderitem USING btree (order_id);


--
-- Name: orders_orderitem_product_variant_id_148aec19; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_orderitem_product_variant_id_148aec19 ON public.orders_orderitem USING btree (product_variant_id);


--
-- Name: orders_orderitem_vendor_id_c2305f17; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_orderitem_vendor_id_c2305f17 ON public.orders_orderitem USING btree (vendor_id);


--
-- Name: products_ca_is_acti_9a0e2e_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_ca_is_acti_9a0e2e_idx ON public.products_category USING btree (is_active, display_order);


--
-- Name: products_ca_is_feat_86134d_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_ca_is_feat_86134d_idx ON public.products_category USING btree (is_featured, is_active);


--
-- Name: products_ca_name_693421_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_ca_name_693421_idx ON public.products_category USING btree (name);


--
-- Name: products_ca_name_ar_9f2b56_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_ca_name_ar_9f2b56_idx ON public.products_category USING btree (name_ar);


--
-- Name: products_ca_parent__0061f5_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_ca_parent__0061f5_idx ON public.products_category USING btree (parent_id, display_order);


--
-- Name: products_ca_parent__1cafc9_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_ca_parent__1cafc9_idx ON public.products_category USING btree (parent_id, is_active);


--
-- Name: products_ca_slug_da4386_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_ca_slug_da4386_idx ON public.products_category USING btree (slug);


--
-- Name: products_category_parent_id_3388f6c9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_category_parent_id_3388f6c9 ON public.products_category USING btree (parent_id);


--
-- Name: products_category_slug_c558efae_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_category_slug_c558efae_like ON public.products_category USING btree (slug varchar_pattern_ops);


--
-- Name: products_pr_base_pr_658bee_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_pr_base_pr_658bee_idx ON public.products_product USING btree (base_price);


--
-- Name: products_pr_categor_50f5f1_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_pr_categor_50f5f1_idx ON public.products_product USING btree (category_id, is_active);


--
-- Name: products_pr_color_03331d_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_pr_color_03331d_idx ON public.products_productvariant USING btree (color);


--
-- Name: products_pr_created_52f0d7_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_pr_created_52f0d7_idx ON public.products_product USING btree (created_at);


--
-- Name: products_pr_is_acti_8ef722_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_pr_is_acti_8ef722_idx ON public.products_product USING btree (is_active, base_price);


--
-- Name: products_pr_is_acti_defdf1_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_pr_is_acti_defdf1_idx ON public.products_product USING btree (is_active, created_at);


--
-- Name: products_pr_is_avai_a58db8_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_pr_is_avai_a58db8_idx ON public.products_productvariant USING btree (is_available, stock_quantity);


--
-- Name: products_pr_name_59cb5e_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_pr_name_59cb5e_idx ON public.products_product USING btree (name, is_active);


--
-- Name: products_pr_name_9ff0a3_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_pr_name_9ff0a3_idx ON public.products_product USING btree (name);


--
-- Name: products_pr_product_1b7905_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_pr_product_1b7905_idx ON public.products_productimage USING btree (product_id, is_primary);


--
-- Name: products_pr_product_48d699_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_pr_product_48d699_idx ON public.products_productimage USING btree (product_id, display_order);


--
-- Name: products_pr_product_59dab7_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_pr_product_59dab7_idx ON public.products_productvariant USING btree (product_id, size, is_available);


--
-- Name: products_pr_product_b56320_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_pr_product_b56320_idx ON public.products_productvariant USING btree (product_id, color, is_available);


--
-- Name: products_pr_product_dfcfbe_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_pr_product_dfcfbe_idx ON public.products_productvariant USING btree (product_id, is_available);


--
-- Name: products_pr_search__98d711_gin; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_pr_search__98d711_gin ON public.products_product USING gin (search_vector);


--
-- Name: products_pr_size_485b09_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_pr_size_485b09_idx ON public.products_productvariant USING btree (size);


--
-- Name: products_pr_sku_dcab68_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_pr_sku_dcab68_idx ON public.products_productvariant USING btree (sku);


--
-- Name: products_pr_slug_3edc0c_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_pr_slug_3edc0c_idx ON public.products_product USING btree (slug);


--
-- Name: products_pr_stock_q_989677_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_pr_stock_q_989677_idx ON public.products_productvariant USING btree (stock_quantity);


--
-- Name: products_pr_vendor__69616a_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_pr_vendor__69616a_idx ON public.products_product USING btree (vendor_id, is_active);


--
-- Name: products_pr_vendor__9c1e0b_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_pr_vendor__9c1e0b_idx ON public.products_product USING btree (vendor_id, category_id, is_active);


--
-- Name: products_product_category_id_9b594869; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_product_category_id_9b594869 ON public.products_product USING btree (category_id);


--
-- Name: products_product_name_fa23bcd2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_product_name_fa23bcd2 ON public.products_product USING btree (name);


--
-- Name: products_product_name_fa23bcd2_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_product_name_fa23bcd2_like ON public.products_product USING btree (name varchar_pattern_ops);


--
-- Name: products_product_slug_70d3148d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_product_slug_70d3148d ON public.products_product USING btree (slug);


--
-- Name: products_product_slug_70d3148d_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_product_slug_70d3148d_like ON public.products_product USING btree (slug varchar_pattern_ops);


--
-- Name: products_product_vendor_id_4c43277c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_product_vendor_id_4c43277c ON public.products_product USING btree (vendor_id);


--
-- Name: products_productimage_product_id_e747596a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_productimage_product_id_e747596a ON public.products_productimage USING btree (product_id);


--
-- Name: products_productvariant_product_id_d9c22902; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_productvariant_product_id_d9c22902 ON public.products_productvariant USING btree (product_id);


--
-- Name: products_productvariant_sku_1b692018_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_productvariant_sku_1b692018_like ON public.products_productvariant USING btree (sku varchar_pattern_ops);


--
-- Name: promotions__code_acae7b_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX promotions__code_acae7b_idx ON public.promotions_coupon USING btree (code);


--
-- Name: promotions__is_acti_85e59a_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX promotions__is_acti_85e59a_idx ON public.promotions_story USING btree (is_active, expires_at);


--
-- Name: promotions__is_acti_a01a21_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX promotions__is_acti_a01a21_idx ON public.promotions_coupon USING btree (is_active, start_date, end_date);


--
-- Name: promotions__locatio_5683c8_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX promotions__locatio_5683c8_idx ON public.promotions_banner USING btree (location, is_active);


--
-- Name: promotions__start_d_df3d18_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX promotions__start_d_df3d18_idx ON public.promotions_banner USING btree (start_date, end_date);


--
-- Name: promotions_coupon_applicable_categories_category_id_d1973cf7; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX promotions_coupon_applicable_categories_category_id_d1973cf7 ON public.promotions_coupon_applicable_categories USING btree (category_id);


--
-- Name: promotions_coupon_applicable_categories_coupon_id_3f97488b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX promotions_coupon_applicable_categories_coupon_id_3f97488b ON public.promotions_coupon_applicable_categories USING btree (coupon_id);


--
-- Name: promotions_coupon_applicable_products_coupon_id_1b54efd9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX promotions_coupon_applicable_products_coupon_id_1b54efd9 ON public.promotions_coupon_applicable_products USING btree (coupon_id);


--
-- Name: promotions_coupon_applicable_products_product_id_d6c97935; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX promotions_coupon_applicable_products_product_id_d6c97935 ON public.promotions_coupon_applicable_products USING btree (product_id);


--
-- Name: promotions_coupon_applicable_users_coupon_id_f94ea0f0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX promotions_coupon_applicable_users_coupon_id_f94ea0f0 ON public.promotions_coupon_applicable_users USING btree (coupon_id);


--
-- Name: promotions_coupon_applicable_users_user_id_352fedde; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX promotions_coupon_applicable_users_user_id_352fedde ON public.promotions_coupon_applicable_users USING btree (user_id);


--
-- Name: promotions_coupon_code_92b1f2da_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX promotions_coupon_code_92b1f2da_like ON public.promotions_coupon USING btree (code varchar_pattern_ops);


--
-- Name: settings_app_language_code_73e708f5_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX settings_app_language_code_73e708f5_like ON public.settings_app_language USING btree (code varchar_pattern_ops);


--
-- Name: settings_app_navigationitem_parent_id_859341f8; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX settings_app_navigationitem_parent_id_859341f8 ON public.settings_app_navigationitem USING btree (parent_id);


--
-- Name: settings_app_paymentmethod_code_1433f884_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX settings_app_paymentmethod_code_1433f884_like ON public.settings_app_paymentmethod USING btree (code varchar_pattern_ops);


--
-- Name: settings_app_shippingmethod_code_f950b0cb_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX settings_app_shippingmethod_code_f950b0cb_like ON public.settings_app_shippingmethod USING btree (code varchar_pattern_ops);


--
-- Name: uq_vendor_one_owner; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX uq_vendor_one_owner ON public.users_vendoruser USING btree (vendor_id) WHERE is_owner;


--
-- Name: uq_vendorapp_one_pending_per_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX uq_vendorapp_one_pending_per_email ON public.vendors_vendorapplication USING btree (applicant_email) WHERE ((status)::text = 'pending'::text);


--
-- Name: uq_vendorapp_one_pending_per_user; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX uq_vendorapp_one_pending_per_user ON public.vendors_vendorapplication USING btree (user_id) WHERE (((status)::text = 'pending'::text) AND (user_id IS NOT NULL));


--
-- Name: users_email_expires_083d9c_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_email_expires_083d9c_idx ON public.users_emailverification USING btree (expires_at);


--
-- Name: users_email_token_c80ef6_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_email_token_c80ef6_idx ON public.users_emailverification USING btree (token);


--
-- Name: users_email_user_id_da7e8a_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_email_user_id_da7e8a_idx ON public.users_emailverification USING btree (user_id, is_verified);


--
-- Name: users_emailverification_token_26a57dab_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_emailverification_token_26a57dab_like ON public.users_emailverification USING btree (token varchar_pattern_ops);


--
-- Name: users_user_email_243f6e77_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_email_243f6e77_like ON public.users_user USING btree (email varchar_pattern_ops);


--
-- Name: users_user_email_6f2530_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_email_6f2530_idx ON public.users_user USING btree (email);


--
-- Name: users_user_groups_group_id_9afc8d0e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_groups_group_id_9afc8d0e ON public.users_user_groups USING btree (group_id);


--
-- Name: users_user_groups_user_id_5f6f5a90; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_groups_user_id_5f6f5a90 ON public.users_user_groups USING btree (user_id);


--
-- Name: users_user_is_acti_ddda02_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_is_acti_ddda02_idx ON public.users_user USING btree (is_active);


--
-- Name: users_user_phone_9474e8_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_phone_9474e8_idx ON public.users_user USING btree (phone);


--
-- Name: users_user_phone_fe37f55c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_phone_fe37f55c_like ON public.users_user USING btree (phone varchar_pattern_ops);


--
-- Name: users_user_role_36d76d_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_role_36d76d_idx ON public.users_user USING btree (role);


--
-- Name: users_user_user_permissions_permission_id_0b93982e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_user_permissions_permission_id_0b93982e ON public.users_user_user_permissions USING btree (permission_id);


--
-- Name: users_user_user_permissions_user_id_20aca447; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_user_permissions_user_id_20aca447 ON public.users_user_user_permissions USING btree (user_id);


--
-- Name: users_vendo_is_owne_217f0d_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_vendo_is_owne_217f0d_idx ON public.users_vendoruser USING btree (is_owner);


--
-- Name: users_vendo_user_id_64701d_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_vendo_user_id_64701d_idx ON public.users_vendoruser USING btree (user_id, vendor_id);


--
-- Name: users_vendoruser_user_id_b1a8c04e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_vendoruser_user_id_b1a8c04e ON public.users_vendoruser USING btree (user_id);


--
-- Name: users_vendoruser_vendor_id_28a8eae0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_vendoruser_vendor_id_28a8eae0 ON public.users_vendoruser USING btree (vendor_id);


--
-- Name: vendors_ven_applica_3a1940_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX vendors_ven_applica_3a1940_idx ON public.vendors_vendorapplication USING btree (applicant_email);


--
-- Name: vendors_ven_is_acti_5c8a37_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX vendors_ven_is_acti_5c8a37_idx ON public.vendors_vendor USING btree (is_active);


--
-- Name: vendors_ven_slug_6ed865_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX vendors_ven_slug_6ed865_idx ON public.vendors_vendor USING btree (slug);


--
-- Name: vendors_ven_status_f8ec29_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX vendors_ven_status_f8ec29_idx ON public.vendors_vendorapplication USING btree (status, created_at);


--
-- Name: vendors_ven_vendor__84bdda_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX vendors_ven_vendor__84bdda_idx ON public.vendors_vendorsettings USING btree (vendor_id);


--
-- Name: vendors_vendor_name_9e0bb5fa_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX vendors_vendor_name_9e0bb5fa_like ON public.vendors_vendor USING btree (name varchar_pattern_ops);


--
-- Name: vendors_vendor_slug_7009fe30_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX vendors_vendor_slug_7009fe30_like ON public.vendors_vendor USING btree (slug varchar_pattern_ops);


--
-- Name: vendors_vendorapplication_reviewed_by_id_2a027b28; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX vendors_vendorapplication_reviewed_by_id_2a027b28 ON public.vendors_vendorapplication USING btree (reviewed_by_id);


--
-- Name: vendors_vendorapplication_status_37c97174; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX vendors_vendorapplication_status_37c97174 ON public.vendors_vendorapplication USING btree (status);


--
-- Name: vendors_vendorapplication_status_37c97174_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX vendors_vendorapplication_status_37c97174_like ON public.vendors_vendorapplication USING btree (status varchar_pattern_ops);


--
-- Name: vendors_vendorapplication_user_id_fcf0db26; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX vendors_vendorapplication_user_id_fcf0db26 ON public.vendors_vendorapplication USING btree (user_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cart_item cart_item_cart_id_157ecf5f_fk_cart_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_item
    ADD CONSTRAINT cart_item_cart_id_157ecf5f_fk_cart_id FOREIGN KEY (cart_id) REFERENCES public.cart(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cart_item cart_item_variant_id_f92e25c7_fk_products_productvariant_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_item
    ADD CONSTRAINT cart_item_variant_id_f92e25c7_fk_products_productvariant_id FOREIGN KEY (variant_id) REFERENCES public.products_productvariant(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cart cart_user_id_1361a739_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart
    ADD CONSTRAINT cart_user_id_1361a739_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: notifications_notification notifications_notifi_recipient_id_d055f3f0_fk_users_use; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications_notification
    ADD CONSTRAINT notifications_notifi_recipient_id_d055f3f0_fk_users_use FOREIGN KEY (recipient_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: notifications_notification notifications_notifi_target_content_type__ccb24d88_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications_notification
    ADD CONSTRAINT notifications_notifi_target_content_type__ccb24d88_fk_django_co FOREIGN KEY (target_content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: notifications_notificationpreference notifications_notifi_user_id_7cfb3d3a_fk_users_use; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications_notificationpreference
    ADD CONSTRAINT notifications_notifi_user_id_7cfb3d3a_fk_users_use FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_order orders_order_user_id_e9b59eb1_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_order
    ADD CONSTRAINT orders_order_user_id_e9b59eb1_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_order orders_order_vendor_id_a95998e8_fk_vendors_vendor_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_order
    ADD CONSTRAINT orders_order_vendor_id_a95998e8_fk_vendors_vendor_id FOREIGN KEY (vendor_id) REFERENCES public.vendors_vendor(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_orderitem orders_orderitem_order_id_fe61a34d_fk_orders_order_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_orderitem
    ADD CONSTRAINT orders_orderitem_order_id_fe61a34d_fk_orders_order_id FOREIGN KEY (order_id) REFERENCES public.orders_order(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_orderitem orders_orderitem_product_variant_id_148aec19_fk_products_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_orderitem
    ADD CONSTRAINT orders_orderitem_product_variant_id_148aec19_fk_products_ FOREIGN KEY (product_variant_id) REFERENCES public.products_productvariant(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_orderitem orders_orderitem_vendor_id_c2305f17_fk_vendors_vendor_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_orderitem
    ADD CONSTRAINT orders_orderitem_vendor_id_c2305f17_fk_vendors_vendor_id FOREIGN KEY (vendor_id) REFERENCES public.vendors_vendor(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: products_category products_category_parent_id_3388f6c9_fk_products_category_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_category
    ADD CONSTRAINT products_category_parent_id_3388f6c9_fk_products_category_id FOREIGN KEY (parent_id) REFERENCES public.products_category(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: products_product products_product_category_id_9b594869_fk_products_category_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_product
    ADD CONSTRAINT products_product_category_id_9b594869_fk_products_category_id FOREIGN KEY (category_id) REFERENCES public.products_category(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: products_product products_product_vendor_id_4c43277c_fk_vendors_vendor_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_product
    ADD CONSTRAINT products_product_vendor_id_4c43277c_fk_vendors_vendor_id FOREIGN KEY (vendor_id) REFERENCES public.vendors_vendor(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: products_productimage products_productimag_product_id_e747596a_fk_products_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_productimage
    ADD CONSTRAINT products_productimag_product_id_e747596a_fk_products_ FOREIGN KEY (product_id) REFERENCES public.products_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: products_productvariant products_productvari_product_id_d9c22902_fk_products_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products_productvariant
    ADD CONSTRAINT products_productvari_product_id_d9c22902_fk_products_ FOREIGN KEY (product_id) REFERENCES public.products_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: promotions_coupon_applicable_categories promotions_coupon_ap_category_id_d1973cf7_fk_products_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.promotions_coupon_applicable_categories
    ADD CONSTRAINT promotions_coupon_ap_category_id_d1973cf7_fk_products_ FOREIGN KEY (category_id) REFERENCES public.products_category(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: promotions_coupon_applicable_products promotions_coupon_ap_coupon_id_1b54efd9_fk_promotion; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.promotions_coupon_applicable_products
    ADD CONSTRAINT promotions_coupon_ap_coupon_id_1b54efd9_fk_promotion FOREIGN KEY (coupon_id) REFERENCES public.promotions_coupon(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: promotions_coupon_applicable_categories promotions_coupon_ap_coupon_id_3f97488b_fk_promotion; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.promotions_coupon_applicable_categories
    ADD CONSTRAINT promotions_coupon_ap_coupon_id_3f97488b_fk_promotion FOREIGN KEY (coupon_id) REFERENCES public.promotions_coupon(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: promotions_coupon_applicable_users promotions_coupon_ap_coupon_id_f94ea0f0_fk_promotion; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.promotions_coupon_applicable_users
    ADD CONSTRAINT promotions_coupon_ap_coupon_id_f94ea0f0_fk_promotion FOREIGN KEY (coupon_id) REFERENCES public.promotions_coupon(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: promotions_coupon_applicable_products promotions_coupon_ap_product_id_d6c97935_fk_products_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.promotions_coupon_applicable_products
    ADD CONSTRAINT promotions_coupon_ap_product_id_d6c97935_fk_products_ FOREIGN KEY (product_id) REFERENCES public.products_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: promotions_coupon_applicable_users promotions_coupon_ap_user_id_352fedde_fk_users_use; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.promotions_coupon_applicable_users
    ADD CONSTRAINT promotions_coupon_ap_user_id_352fedde_fk_users_use FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: settings_app_navigationitem settings_app_navigat_parent_id_859341f8_fk_settings_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.settings_app_navigationitem
    ADD CONSTRAINT settings_app_navigat_parent_id_859341f8_fk_settings_ FOREIGN KEY (parent_id) REFERENCES public.settings_app_navigationitem(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_emailverification users_emailverification_user_id_77445bf4_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_emailverification
    ADD CONSTRAINT users_emailverification_user_id_77445bf4_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_groups users_user_groups_group_id_9afc8d0e_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_group_id_9afc8d0e_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_groups users_user_groups_user_id_5f6f5a90_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_user_id_5f6f5a90_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_user_permissions users_user_user_perm_permission_id_0b93982e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_perm_permission_id_0b93982e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_user_permissions users_user_user_permissions_user_id_20aca447_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_permissions_user_id_20aca447_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_userprofile users_userprofile_user_id_87251ef1_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_userprofile
    ADD CONSTRAINT users_userprofile_user_id_87251ef1_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_vendoruser users_vendoruser_user_id_b1a8c04e_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_vendoruser
    ADD CONSTRAINT users_vendoruser_user_id_b1a8c04e_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_vendoruser users_vendoruser_vendor_id_28a8eae0_fk_vendors_vendor_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_vendoruser
    ADD CONSTRAINT users_vendoruser_vendor_id_28a8eae0_fk_vendors_vendor_id FOREIGN KEY (vendor_id) REFERENCES public.vendors_vendor(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: vendors_vendorapplication vendors_vendorapplic_created_vendor_id_6a555392_fk_vendors_v; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vendors_vendorapplication
    ADD CONSTRAINT vendors_vendorapplic_created_vendor_id_6a555392_fk_vendors_v FOREIGN KEY (created_vendor_id) REFERENCES public.vendors_vendor(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: vendors_vendorapplication vendors_vendorapplic_reviewed_by_id_2a027b28_fk_users_use; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vendors_vendorapplication
    ADD CONSTRAINT vendors_vendorapplic_reviewed_by_id_2a027b28_fk_users_use FOREIGN KEY (reviewed_by_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: vendors_vendorapplication vendors_vendorapplication_user_id_fcf0db26_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vendors_vendorapplication
    ADD CONSTRAINT vendors_vendorapplication_user_id_fcf0db26_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: vendors_vendorsettings vendors_vendorsettings_vendor_id_2c937ca5_fk_vendors_vendor_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.vendors_vendorsettings
    ADD CONSTRAINT vendors_vendorsettings_vendor_id_2c937ca5_fk_vendors_vendor_id FOREIGN KEY (vendor_id) REFERENCES public.vendors_vendor(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict YU6hy00h6glDqfQPXyOfd5SIpO9IXxGdRuyNK42cWNtDFqnuI0SSbsjbCkUjA8O

